# SPLIT !   
LINE & PRODUCT CODE

## 1️⃣ Load Data

In [23]:
import pandas as pd
import random
import os
import numpy as np
import warnings
warnings.filterwarnings('ignore')

def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
seed_everything(37) # Seed 고정

train_df = pd.read_csv('./train.csv')
test_df = pd.read_csv('./test.csv')

#train_x = train_df.drop(columns=['PRODUCT_ID', 'Y_Class', 'TIMESTAMP'])
train_x = train_df.drop(columns=['PRODUCT_ID', 'Y_Quality', 'TIMESTAMP'])
train_y = train_df['Y_Class']

test_x = test_df.drop(columns=['PRODUCT_ID', 'TIMESTAMP'])

### 1)_make : ingnore 'Y_Quality'

In [24]:
train_x_ig_YQ = train_df.drop(columns=['PRODUCT_ID', 'Y_Quality' ,'Y_Class', 'TIMESTAMP'])

## 2️⃣ Split

In [25]:
train_x

,Y_Class,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,1,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.34,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN
1,2,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.89,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN
2,1,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.19,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN
3,2,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.74,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN
4,1,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.70,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,1,T100306,T_31,2.0,95.0,0.0,45.0,10.0,0.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,0,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.47,53.07,50.89,55.10,66.49,1.0,NaN,NaN,NaN,NaN
595,0,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
596,1,T100304,O_31,40.0,94.0,0.0,45.0,11.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,1,T100306,O_31,21.0,87.0,0.0,45.0,10.0,0.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 1._Line

In [26]:
def split_PC(train_df, test_df, train_x, test_x):

    line_v = sorted(train_df['LINE'].value_counts().index)

    # train
    for idx, i in enumerate(line_v):
        globals()['l{}'.format(idx+1)]=train_x[train_x['LINE']==i]

    # train y
    for idx, i in enumerate(line_v):
        globals()['l{}_y'.format(idx+1)]=train_x['Y_Class'][train_x['LINE']==i]

    # test
    for idx, i in enumerate(line_v):
        globals()['l{}_test'.format(idx+1)]=test_x[test_x['LINE']==i]

    print('done')

split_PC(train_df, test_df, train_x, test_x)

done

In [27]:
print('#### RATE : one line / all ####\n')

print('l1 :', l1.shape[0] / train_x.shape[0], '\n')
print('l2 :', l2.shape[0] / train_x.shape[0], '\n')
print('l3 :', l3.shape[0] / train_x.shape[0], '\n')
print('l4 :', l4.shape[0] / train_x.shape[0], '\n')
print('l6 :', l6.shape[0] / train_x.shape[0], '\n')
print('l5 :', l5.shape[0] / train_x.shape[0], '\n')

#### RATE : one line / all ####

l1 : 0.09866220735785954

l2 : 0.11705685618729098

l3 : 0.13043478260869565

l4 : 0.07023411371237458

l6 : 0.2909698996655518

l5 : 0.29264214046822745

### 2._Product Code

In [28]:
def split_PC(traindf, test_df):

    pc_v = sorted(train_df['PRODUCT_CODE'].value_counts().index)

    # train
    for idx, i in enumerate(pc_v):
        globals()['pc{}'.format(idx+1)]=train_x[train_x['PRODUCT_CODE']==i]

    # train y
    for idx, i in enumerate(pc_v):
        globals()['pc{}_y'.format(idx+1)]=train_x['Y_Class'][train_x['PRODUCT_CODE']==i]

    # test
    for idx, i in enumerate(pc_v):
        globals()['pc{}_test'.format(idx+1)]=test_x[test_x['PRODUCT_CODE']==i]

    print('done')
split_PC(train_df, test_df)

done

In [29]:
print('#### RATE : one PRODUCT_CODE / all ####\n')

print('pc1 :', pc1.shape[0] / train_x.shape[0], '\n')
print('pc2 :', pc2.shape[0] / train_x.shape[0], '\n')
print('pc3 :', pc3.shape[0] / train_x.shape[0], '\n')

#### RATE : one PRODUCT_CODE / all ####

pc1 : 0.41638795986622074

pc2 : 0.010033444816053512

pc3 : 0.5735785953177257

## 3️⃣ analysis : splited line, product code

### 1)_Line

#### (1)_null : col

In [30]:
for idx, l in enumerate([l1, l2, l3, l4, l5, l6]):
    print('### line {0} : {1}개 제조 ###'.format(idx+1, len(l)))
    print('null개수 col개수')
    l1_null_df = pd.DataFrame(data=l.isnull().sum().keys(), columns=['col'])
    l1_null_df['null'] = l.isnull().sum().values
    print(l1_null_df[l1_null_df['null'] != 0]['null'].value_counts(), '\n\n')

### line 1 : 59개 제조 ###
null개수 col개수
59    1989
33      10
58       5
Name: null, dtype: int64


### line 2 : 70개 제조 ###
null개수 col개수
70    1989
40      10
69       5
Name: null, dtype: int64


### line 3 : 78개 제조 ###
null개수 col개수
78    907
39    420
2     395
1     142
59     60
11     27
54     10
74      5
7       3
14      1
12      1
52      1
Name: null, dtype: int64


### line 4 : 42개 제조 ###
null개수 col개수
42    900
19    422
28     70
9      26
3       3
2       1
4       1
16      1
10      1
Name: null, dtype: int64


### line 5 : 175개 제조 ###
null개수 col개수
175    2204
1       420
126      10
173       5
Name: null, dtype: int64


### line 6 : 174개 제조 ###
null개수 col개수
174    2204
136      10
166       5
Name: null, dtype: int64

#### (2)_Y Class

In [31]:
print('#### Line별 Y Class 비율 ####')

for idx, l in enumerate([l1, l2, l3, l4, l5, l6]):
    print('\n\n## line {} ##'.format(idx+1))
    for idxy, y in enumerate([0,1,2]):
        print('y = {0} : {1}%'.format(idxy, round(len(l[l['Y_Class']==y]) / len(l) * 100, 1)))

#### Line별 Y Class 비율 ####


## line 1 ##
y = 0 : 22.0%
y = 1 : 59.3%
y = 2 : 18.6%


## line 2 ##
y = 0 : 8.6%
y = 1 : 52.9%
y = 2 : 38.6%


## line 3 ##
y = 0 : 38.5%
y = 1 : 47.4%
y = 2 : 14.1%


## line 4 ##
y = 0 : 26.2%
y = 1 : 21.4%
y = 2 : 52.4%


## line 5 ##
y = 0 : 9.7%
y = 1 : 82.3%
y = 2 : 8.0%


## line 6 ##
y = 0 : 6.3%
y = 1 : 83.3%
y = 2 : 10.3%

#### (3)_Product Code

In [32]:
print('#### Line별 Product Code 비율 ####')

for idx, l in enumerate([l1, l2, l3, l4, l5, l6]):
    print('\n\n## line {} ##'.format(idx+1))
    
    vc = l['PRODUCT_CODE'].value_counts()

    for idxy, y in enumerate(vc.index):
        print('product code = {0} : {1}%'.format(y, round(len(l[l['PRODUCT_CODE']==y]) / len(l) * 100, 1)))

#### Line별 Product Code 비율 ####


## line 1 ##
product code = A_31 : 100.0%


## line 2 ##
product code = A_31 : 100.0%


## line 3 ##
product code = A_31 : 100.0%


## line 4 ##
product code = A_31 : 100.0%


## line 5 ##
product code = T_31 : 98.3%
product code = O_31 : 1.7%


## line 6 ##
product code = T_31 : 98.3%
product code = O_31 : 1.7%

### 2)_Product Code

#### (1)_null : col

In [33]:
for idx, l in enumerate([pc1, pc2, pc3]):
    print('#### len product code {0} : {1} ####\n'.format(idx+1, len(l)))
    print('null개수 col개수')
    l1_null_df = pd.DataFrame(data=l.isnull().sum().keys(), columns=['col'])
    l1_null_df['null'] = l.isnull().sum().values
    print(l1_null_df[l1_null_df['null'] != 0]['null'].value_counts(), '\n\n\n')

#### len product code 1 : 249 ####

null개수 col개수
249    759
129    658
187    416
2      368
1      139
120    113
216     60
131     27
149     26
207     13
155     10
179      8
190      8
226      6
243      5
210      4
171      3
130      3
139      3
145      1
16       1
197      1
150      1
Name: null, dtype: int64



#### len product code 2 : 6 ####

null개수 col개수
6    2208
3      12
4       5
Name: null, dtype: int64



#### len product code 3 : 343 ####

null개수 col개수
343    2198
1       420
256      10
171       6
172       6
335       5
Name: null, dtype: int64

#### (2)_Y Class

In [34]:
print('#### Line별 Y Class 비율 ####')

for idx, l in enumerate([pc1, pc2, pc3]):
    print('\n\n## product code{} ##'.format(idx+1))
    for idxy, y in enumerate([0,1,2]):
        print('y={0} : {1}%'.format(idxy, round(len(l[l['Y_Class']==y]) / len(l) * 100, 1)))

#### Line별 Y Class 비율 ####


## product code1 ##
y=0 : 24.1%
y=1 : 47.4%
y=2 : 28.5%


## product code2 ##
y=0 : 0.0%
y=1 : 66.7%
y=2 : 33.3%


## product code3 ##
y=0 : 8.2%
y=1 : 83.1%
y=2 : 8.7%

#### (3)_Line

In [35]:
print('#### PRODUCT_CODE Product Code 비율 ####')

for idx, l in enumerate([pc1, pc2, pc3]):
    print('\n\n## Product Code {} ##'.format(idx+1))
    
    vc = l['LINE'].value_counts()

    for idxy, y in enumerate(vc.index):
        print('line = {0} : {1}%'.format(y, round(len(l[l['LINE']==y]) / len(l) * 100, 1)))

#### PRODUCT_CODE Product Code 비율 ####


## Product Code 1 ##
line = T050304 : 31.3%
line = T010306 : 28.1%
line = T010305 : 23.7%
line = T050307 : 16.9%


## Product Code 2 ##
line = T100304 : 50.0%
line = T100306 : 50.0%


## Product Code 3 ##
line = T100304 : 50.1%
line = T100306 : 49.9%

#### 🌟 RESULT  

x column 들의 결측 정도가 line으로 나누었을 때 보다, Product_code로 나누었을 때 더 명확하게 나왔음.  
  
따라서 Product_code로 확인 후 row에 대해서 결측치가 40% 이상 발견되는 column 은 삭제 후 학습

## 4️⃣ Preproccesing

### 1)_Line

In [36]:
all_line_list = [l1, l2, l3, l4, l5, l6, l1_test, l2_test, l3_test, l4_test, l5_test, l6_test]
train_line_list = [l1, l2, l3, l4, l5, l6]


def line_fillna(all, train):

    # train drop : Y_Class
    for l in train:
        l.drop(['Y_Class'], axis=1, inplace=True)
    
    
    # fillna : 0
    for l in all:
        l.fillna(0, inplace=True)

    # MinMaxScaler
#    from sklearn.preprocessing import MinMaxScaler
    
#    for l in all:
#        mmx = MinMaxScaler()
#        mmx.fit(l)
#        l = mmx.transform(l)
        

    # labelEncorder
    from sklearn.preprocessing import LabelEncoder

        # 1) Line
    for l in all:
        le = LabelEncoder()
        le.fit(['T100304', 'T100306', 'T050304', 'T010306', 'T010305', 'T050307'])
        l['LINE'] = le.transform(l['LINE'])
        
        # 2) PRODUCT_CODE
    for l in all:
        le = LabelEncoder()
        le.fit(['T_31', 'A_31', 'O_31'])
        l['PRODUCT_CODE'] = le.transform(l['PRODUCT_CODE'])        

    print('done')

line_fillna(all_line_list, train_line_list)

done

### 2)_Product Code(보류)

In [37]:
all_pc_list = [pc1, pc2, pc3, pc1_test, pc2_test, pc3_test]
train_pc_list = [pc1, pc2, pc3]

def line_fillna(all, train):

    # train drop : 'Y_Class', 'year','month', 'day'
    for l in train:
        l.drop(['Y_Class'], axis=1, inplace=True)
        
    
    # fillna : 0
    for l in all:
        l.fillna(0, inplace=True)

    # MinMaxScaler
    from sklearn.preprocessing import MinMaxScaler
    
    #for l in all:
    #    mmx = MinMaxScaler()
    #    mmx.fit()
    #    l['LINE'] = mmx.transform(l['LINE'])
        

    #for l in all:
    #    mmx = MinMaxScaler()
    #    mmx.fit(['T_31', 'A_31', 'O_31'])
    #    l['PRODUCT_CODE'] = mmx.transform(l['PRODUCT_CODE'])


    # labelEncorder
    from sklearn.preprocessing import LabelEncoder

    for l in all:
        le = LabelEncoder()
        le.fit(['T100304', 'T100306', 'T050304', 'T010306', 'T010305', 'T050307'])
        l['LINE'] = le.transform(l['LINE'])
        

    for l in all:
        le = LabelEncoder()
        le.fit(['T_31', 'A_31', 'O_31'])
        l['PRODUCT_CODE'] = le.transform(l['PRODUCT_CODE'])        
    
    #return l1, l2, l3, l4, l5, l6, l1_test, l2_test, l3_test, l4_test, l5_test, l6_test


line_fillna(all_pc_list, train_pc_list)
print('done')

done

## 5️⃣ Build model

### 1)_LINE

In [40]:
train_x_line_list = [l1, l2, l3, l4, l5, l6]
train_y_line_list = [l1_y, l2_y, l3_y, l4_y, l5_y, l6_y]
test_line_list = [l1_test, l2_test, l3_test, l4_test, l5_test, l6_test]


def line_model_fit_predeict(train_x_line_list):

    from sklearn.ensemble import RandomForestClassifier

    # 1) define model, 2) fit, 3) predict
    for idx ,i in enumerate(train_x_line_list):
        
        # define model
        rfc = RandomForestClassifier(random_state=42)
        
        # fit
        rfc.fit(i, train_y_line_list[idx])

        # predict
        globals()['pred_l{}'.format(idx+1)] = rfc.predict(test_line_list[idx])
        globals()['df_pred_l{}'.format(idx+1)] = pd.DataFrame(data = globals()['pred_l{}'.format(idx+1)],
                                                            columns=['Y_Class'],
                                                            index=test_line_list[idx].index)
        

    df_pred = [df_pred_l1, df_pred_l2, df_pred_l3, df_pred_l4, df_pred_l5, df_pred_l6]

    submit_array = pd.concat(df_pred, axis=0).sort_index()

    return submit_array


#def submit_line():
    
submit_csv = pd.read_csv('./sample_submission.csv')
submit_csv['Y_Class'] = line_model_fit_predeict(train_x_line_list)['Y_Class']
submit_csv.to_csv('split_line_submission.csv', index=False)

In [41]:
submit_csv['Y_Class'].value_counts()

1    283
0     21
2      6
Name: Y_Class, dtype: int64

### 2)_Product Code

In [42]:
train_x_pc_list = [pc1, pc2, pc3]
train_y_pc_list = [pc1_y, pc2_y, pc3_y]
test_pc_list = [pc1_test, pc2_test, pc3_test]


def PC_model_fit_predeict(train_x_pc_list):

    from sklearn.ensemble import RandomForestClassifier

    # 1) define model, 2) fit, 3) predict
    for idx ,i in enumerate(train_x_pc_list):
        
        # define model
        rfc = RandomForestClassifier(random_state=42)
        
        # fit
        rfc.fit(i, train_y_pc_list[idx])

        # predict
        globals()['pred_pc{}'.format(idx+1)] = rfc.predict(test_pc_list[idx])
        globals()['df_pred_pc{}'.format(idx+1)] = pd.DataFrame(data = globals()['pred_pc{}'.format(idx+1)],
                                                            columns=['Y_Class'],
                                                            index=test_pc_list[idx].index)
        

    df_pred = [df_pred_pc1, df_pred_pc2, df_pred_pc3]

    submit_array = pd.concat(df_pred, axis=0).sort_index()

    return submit_array


#def submit_line():
    
submit_csv = pd.read_csv('./sample_submission.csv')
submit_csv['Y_Class'] = PC_model_fit_predeict(train_x_pc_list)['Y_Class']
submit_csv.to_csv('split_PC_submission.csv', index=False)

In [43]:
submit_csv['Y_Class'].value_counts()

1    269
0     41
Name: Y_Class, dtype: int64